/* Display 5 Contacts */

.main-container {
  text-align: center;
}

.profile-img {
  width: 50px;
}

table {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

td {
  border: 1px solid black;
  border-collapse: collapse;
}

thead {
  font-weight: bolder;
  font-size: 1.2rem;
}
